version: 2
jobs:
  build:
    working_directory: /go/src/github.com/qlik-oss/enigma-go
    docker:
      - image: circleci/golang:1.9
    steps:
      - checkout
      - run:
          name: Install toolchain
          command: |
            go get -u github.com/golang/dep/cmd/dep
            go get -u github.com/golang/lint/golint
      - restore_cache:
          key: dependency-cache-{{ checksum "Gopkg.lock" }}
      - run:
          name: Install dependencies
          command: dep ensure
      - save_cache:
          key: dependency-cache-{{ checksum "Gopkg.lock" }}
          paths:
            - vendor
      - run:
          name: Linting
          command: golint -set_exit_status
      - run:
          name: Build
          command: go build
      - run:
          name: Test
          command: go test -v -race ./...
      - setup_remote_docker
      - run:
          name: Execute integration tests
          working_directory: /go
          command: |
            ENGINE_VERSION=$(curl -s "https://registry.hub.docker.com/v2/repositories/qlikcore/engine/tags/" | docker run -i stedolan/jq -r '."results"[0]["name"]' 2>/dev/null)
            echo "Will start Qlik Associative Engine version '$ENGINE_VERSION'"
            ENGINE_CONTAINER_ID=$(docker run -d qlikcore/engine:$ENGINE_VERSION -S AcceptEULA=yes)
            ENGINE_IP=$(docker inspect -f '{{ .NetworkSettings.IPAddress }}' $ENGINE_CONTAINER_ID)
            TEST_CONTAINER_ID=$(docker run -d golang:1.9-alpine tail -f /dev/null)
            docker cp . $TEST_CONTAINER_ID:/go
            docker exec $TEST_CONTAINER_ID /bin/sh -c 'apk update && apk add --no-cache socat bash'
            docker exec -d $TEST_CONTAINER_ID /bin/bash -c "socat TCP-LISTEN:9076,fork TCP:$ENGINE_IP:9076"
            docker exec $TEST_CONTAINER_ID /bin/bash -c '/go/src/github.com/qlik-oss/enigma-go/examples/run_examples.sh'
